#calculadora {
    background: rgb(123, 127, 180);
    width: 181px;
    padding: 22px;
    border-radius: 35px;
    box-shadow: 20px 10px black;
    position: absolute;
    left: 40%;
    top: 6%;
}
#calculadora input {
    background: rgb(108, 216, 150);
    color: black;
    border-radius: 35px;
    padding: 5px;
}
#calculadora button {
    background: rgb(120, 211, 128);
    color: black;
    margin-top: 10px;
    padding: 5px;
    border-radius: 35px;
}
#calculadora button:hover {
    background: whitesmoke;
    color: rgb(197, 23, 145);
    cursor: ew-resize;
}
#spTotal {
    background: rgb(54, 184, 145);
    color: rgb(0, 0, 0);
    border-radius: 35px;
    padding: 5px;
}
.spLista {
    background: rgb(4, 70, 90);
    border-radius: 35px;
    color: whitesmoke;
    width: 181px;
}

.calcF{
    display: none;
}
#calcFin:checked  + #calculadora .calcF {
    display: block;
}
 
#calcFin{
    display: none;
}

